<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hq.car_parts.mapper.RoleMapper">
    <insert id="insertUser" parameterType="user">
		insert into user(name,age) values(#{name},#{age})
	</insert>

    <select id="selectUserInfo" resultType="user">
		select username,sex,age,real_name,email,roleId from user where username = #{value}
	</select>

    <select id="findRoleByRoleId" resultType="role">
		select * from role where id = #{value}
	</select>

    <update id="updateUser" parameterType="user">
		update user set name=#{name} ,age=#{age} where id=#{id}
	</update>

    <delete id="deleteUserById">
		delete from user where id = #{value}
	</delete>
</mapper>