<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hq.car_parts.mapper.kucun.KuCunMapper">
    <insert id="insertKuCun" parameterType="KuCun">
		insert into kucun_ku(kuCunNum,goodsName,goodsNum,goodsUnit,unitPrice,sumPrice,breakdown,status)
		values(#{kuCunNum},#{goodsName},#{goodsNum},#{goodsUnit},#{unitPrice},#{sumPrice},#{breakdown},#{status})
	</insert>

    <select id="findAllKuCun" resultType="KuCun">
		select * from kucun_ku
	</select>

	<select id="getKuCunByName" resultType="KuCun">
		select * from kucun_ku where goodsName = #{goodsName}
	</select>

    <select id="getKuCunByNum" resultType="KuCun">
		select * from kucun_ku where kuCunNum = #{kuCunNum}
	</select>

    <select id="getOwnKuCun" resultType="KuCun">
		select * from kucun_ku where applyStaff = #{applyStaff}
	</select>

    <select id="getFilterKuCun" parameterType="com.hq.car_parts.entity.kucun.KuCun"  resultType="KuCun">
        select * from kucun_ku where 1=1
        <if test="kuCunNum != null">
            and kuCunNum = #{kuCunNum}
        </if>
        <if test="applyStaff != null">
            and applyStaff like "%"#{applyStaff}"%"
        </if>
        <if test="goodsName != null">
            and goodsName like "%"#{goodsName}"%"
        </if>
    </select>


    <update id="updateKuCunStatus" parameterType="KuCun">
		update kucun_ku set status=#{status} where kuCunNum=#{kuCunNum}
	</update>

	<update id="updateNewKuCun" parameterType="KuCun">
		update kucun_ku set goodsNum=#{goodsNum},sumPrice=#{sumPrice} where kuCunNum=#{kuCunNum}
	</update>


	<update id="updateKuCunBreak" parameterType="KuCun">
		update kucun_ku set breakdown=#{breakdown} where kuCunNum=#{kuCunNum}
	</update>

	<update id="updateKuCunUnit" parameterType="KuCun">
		update kucun_ku set unitPrice=#{unitPrice},sumPrice=#{sumPrice} where kuCunNum=#{kuCunNum}
	</update>

    <update id="updateKuCun" parameterType="KuCun">
		update kucun_ku set
		 purchaseNum = #{purchaseNum},applyStaff = #{applyStaff}, goodsName = #{goodsName}, supplier = #{supplier},
		 goodsNum = #{goodsNum}, goodsUnit = #{goodsUnit},unitPrice = #{unitPrice},sumPrice = #{sumPrice},
		 purchaseDate = #{purchaseDate},remarks = #{remarks}  where purchaseNum=#{purchaseNum}
	</update>

    <delete id="deleteKuCunByNum" parameterType="string">
		delete from kucun_ku where kuCunNum = #{value}
	</delete>

</mapper>